<div class="field">
  <label>Email:</label>
  <span class="field-value"><%= @user.email %></span>
</div>

<div class="field">
  <label>Administrator:</label>
  <span class="field-value"><%= @user.isAdmin %></span>
</div>

<div class="field">
  <label>Total posts:</label>
  <span class="field-value"><%= @user.posts.length %></span>
</div>
