body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; 
}

a {
  color: #000;
  &:visited {
    color: #006; 
  }
  &:hover {
    color: #666;
  } 
}

div {
  &.field, &.actions {
    margin-bottom: 10px; 
  } 
}

#notice {
  color: green; 
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; 
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square; 
  } 
}

ul {
  margin: 0;
}
body {
  background: #90F6E5 url(/images/posts-background.png);
  margin: 0;
  font-size: 100%;
}
body,
p, ol, ul, td,
input, textarea {
  font-family: 'PT Sans', sans-serif;
  line-height: 1.2em;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.0em;
  margin: 0.2em 0;
}
p, ol, ul, td,
input {
  font-size: 1.0em;
}
a, a:visited {
  color: #E52D00;
  text-decoration: none;
}
a:hover {
  color: #FF4314;
  text-decoration: underline;
}
input, textarea {
  background-color: #FEFEFE;
  border: 1px solid #EEE;
  border-radius: 3px;
  color: #888;
  padding: 4px 6px;
  transition: box-shadow 1s, border 1s;
  -moz-transition: box-shadow 1s, border 1s;
 -webkit-transition: box-shadow 1s, border 1s;
 -o-transition: box-shadow 1s, border 1s;
}
input:hover, input:focus,
textarea:hover, textarea:focus {
  background-color: #FFF;
  color: #000;
}
input:hover, textarea:hover {
  border: 1px solid #CDF4EE;
}
input:focus, textarea:focus {
  border: 1px solid #90F6E5;
  box-shadow: 0px 0px 2px 2px rgba(205,244,238,0.3);
}
label {
  display: inline-block;
  width: 220px;
}
.field-value {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  margin-top: 10px;
}
td, th {
  padding: 2px 10px;
  margin: 0;
}
th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}
thead {
  background-color: #6E6B59;
  color: #FFF;
}
.branding {
  background: url("/images/backchannel-vert.png") no-repeat scroll 0 0 transparent;
  height: 575px;
  overflow: hidden;
  position: absolute;
  width: 170px;
  z-index: -1;
}

.content-wrap {
  background-color: #FDFDFD;
  border-radius: 12px;
  box-shadow: 1px 1px 30px 20px rgba(0, 0, 0, 0.6);
  color: #222;
  margin: auto;
  margin-top: 10px;
  overflow: hidden;
  width: 960px;
}
.header {
  background-color: #444133;
  background-image: url("/images/header-bkg.png");
  background-position: center bottom;
  background-repeat: repeat-x;
  color: #FFF;
  overflow: hidden;
  padding-top: 10px;
}
.header ul,
ul.actions {
  list-style-type: none;
  padding: 0;
}
.header ul li,
ul.actions li {
  display: inline-block;
}
.header a,
.actions a {
  display: inline-block;
  padding: 14px 20px;
  text-decoration: none;
}
.header a {
  color: #FFF;
}
.tab-menu {
  float: left;
  padding-left: 10px;
  margin-bottom: 10px;
}
.tab-menu a {
  background-repeat: no-repeat;
  border-radius: 2px;
  font-size: 1.2em;
  padding-left: 46px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.tab-menu a:hover {
  background-color: #BDB89F;
}
.tab-menu .active a {
  background-color: #EFF9F7;
  color: #000;
  text-shadow: none;
}
.tab-menu .active a:hover {
  background-color: #FDFDFD;
}
.tab-home a {
  background-image: url("/images/home.png");
}
.tab-home.active a {
  background-position: 0 -50px;
}
.tab-users a {
  background-image: url("/images/users.png");
}
.tab-users.active a {
  background-position: 0 -50px;
}
.tab-reports a {
  background-image: url("/images/reports.png");
}
.tab-reports.active a {
  background-position: 0 -50px;
}
.content {
  padding: 30px 20px;
}
.user-login {
  float: right;
  padding-right: 10px;
  margin-top: 8px;
}
.button {
  border-radius: 4px;
  margin: 0 2px;
}
input.button,
.button a {
  padding: 6px 16px;
}
@-moz-document url-prefix() { 
  input.button { 
    padding: 4px 14px;
  }
} 
*:focus {
  outline: none;
}

.button {
  background-color: rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  color: #000;
}
.button a {
  color: #000;
}
.button:hover {
  background-color: #7D60FF;
  border: 1px solid rgba(0,0,0,0.2);
}
#notice {
  background-color: #B2FFB7;
  border: 1px solid #5FCE64;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
  color: #25A827;
  left: 25%;
  min-width: 300px;
  padding: 20px;
  position: absolute;
  top: 26px;
  width: 30%;
}
input.button:hover,
.button:hover a {
  color: #FFF;
  background-image: -ms-linear-gradient(top, #7D60FF 0%, #604BC6 100%);
  background-image: -moz-linear-gradient(top, #7D60FF 0%, #604BC6 100%);
  background-image: -o-linear-gradient(top, #7D60FF 0%, #604BC6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7D60FF), color-stop(1, #604BC6));
  background-image: -webkit-linear-gradient(top, #7D60FF 0%, #604BC6 100%);
  background-image: linear-gradient(to bottom, #7D60FF 0%, #604BC6 100%);  border-radius: 4px;
}
li.button.dark {
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.2);
  color: #333;
}
li.button.dark a {
  color: #FFF;
}
li.button.dark:hover {
  background-color: #93F1E0;
  border: 1px solid rgba(0,0,0,0.4);
}
li.button.dark:hover a {
  color: #444133;
  background-image: -ms-linear-gradient(top, #CBEFE9 0%, #93F1E0 100%);
  background-image: -moz-linear-gradient(top, #CBEFE9 0%, #93F1E0 100%);
  background-image: -o-linear-gradient(top, #CBEFE9 0%, #93F1E0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #CBEFE9), color-stop(1, #93F1E0));
  background-image: -webkit-linear-gradient(top, #CBEFE9 0%, #93F1E0 100%);
  background-image: linear-gradient(to bottom, #CBEFE9 0%, #93F1E0 100%);
  border-radius: 4px;
}

.post-index .posts {
  margin: 20px 0;
}
.post-index h1 {
  display: inline-block;
  margin: 0 0 0.2em 0
}
.post-index .right-actions {
  float:right;
}
.post-index .right-actions .actions {
  display: inline-block;
}
.post-index .right-actions form {
  display: inline-block;
}
.post-index #search {
  background-image: url("/images/search.png");
  background-repeat: no-repeat;
}
.post-index #search:hover {
  background-position: 0 -40px;
}
.post-index .post {
  margin: 10px 0;
  overflow: hidden;
  padding: 10px;
}
.post-index .post.odd {
  border-left: 5px solid #FB643F;
  border-right: 5px solid #FB643F;
}
.post-index .post.even {
  border-left: 5px solid #00EFC3;
  border-right: 5px solid #00EFC3;
}
.post-stem {
  background: url("/images/post-stem-up-left.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 40px;
  margin: 0 10px 0 30px;
  width: 40px;
}
.post-head {
  float: left;
  padding-top: 10px;
}
.post-actions {
  float: right;
}
.post-index .comment-actions {
  clear: both;
  float: left;
  margin: 10px;
}
.post-body-wrap {
  float: left;
  overflow: hidden;
  width: 720px;
}
.post-body,
.post-new #post_body {
  background-color: #DAEFEB;
  border-bottom: 1px solid #BBCCCC;
  border-radius: 8px 8px 8px 8px;
  color: #6E6B59;
  font-size: 1.2em;
  font-weight: bold;
  overflow: hidden;
  padding: 20px;
}
.post-author {
  font-size: 1.4em;
  font-weight: bold;
}
.post-time {
  color: #604BC6;
  font-weight: bold;
}
.post-comment-count-wrap {
  color: #DDD;
  float: right;
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.2em;
  margin: 35px 20px 0 0;
  text-align: center;
}
.post-index .comment {
  clear: both;
}
.post-index .comment.first {
  clear: none;
}
.post-index .comment-body-wrap .actions {
  float: right;
  font-size: 0.85em;
  margin: 4px 2px;
}
.post-index .comment-body-wrap .actions .button a {
  padding: 4px 8px;
}
.comment-body-wrap,
.post-show #comment_body {
  background-color: #FDFFB2;
  border-bottom: 1px solid #E5E544;
  border-radius: 8px 8px 8px 8px;
  color: #6E6B59;
  float: right;
  margin-top: 10px;
  min-width: 500px;
  overflow: hidden;
}
.comment-body,
.post-show #comment_body {
  font-size: 1.1em;
  font-weight: bold;
  padding: 20px; 
}
.comment-stem {
  background: url("/images/comment-stem-dn-right.png") no-repeat scroll 0 0 transparent;
  float: right;
  height: 30px;
  margin: 0 30px 0 10px;
  position: relative;
  top: -1px;
  width: 30px;
}
.post-index .comment-footer {
  float: right;
  margin-top: 4px;
}
.post-index .comment-author {
  color: #666;
  font-size: 1.1em;
  font-weight: bold;
}
.post-index .comment-time {
  color: #666;
  font-size: 0.7em;
  margin-left: 10px;
}
.post-new label,
.post-edit label,
.post-show label {
  display: none;
}
.post-new #post_body,
.post-edit #post_body {
  height: 100px;
}
.post-new #post_body,
.post-new #post_body:focus {
  border: none;
  border-bottom: 1px solid #BBCCCC;
  margin: 0;
}
.post-show h2 {
  margin: 20px 0 0 130px;
  color: #666;
}
.post-show #comment_body {
  height: 60px;
  width: 760px;
  margin: 0;
}
.post-show #comment_body {
  border-width: 0;
}
.reports-index table {
  width: 100%;
}